<h1>NEW POLL</h1>



<form action="/polls" method="POST">
    <input type="text" name="polls[title]" placeholder="What is your question?">
    <textarea name="polls[options]"></textarea>
    <input type="submit">
</form>